<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TourMe App</title>
        <!-- Load styles -->
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <!-- Load Leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="" defer></script>
        <!-- Load jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
        <!-- load ioicons  -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <!-- load Scripts -->
        <script src="js/main.js" defer></script>
        
    </head>
    <body>
        <main>
            <div id="weatherdiv">
            </div>
            <div id='sideBar'>
                <div id="searchSection">
                    <div id='logo_container'>
                        <img src="/images/logo.JPG" alt="logo" id="logo" />
                    </div>
                    <h1 id='promt_text'>Where are you going next?</h1>
                    <form id='searchForm'>
                        <button type='submit' id="search_btn">Search</button>
                        <label for='city_input'>City </label>
                        <input type="text" id="city_input" class='search_input'/>
                        <label for='city_input'>Select category</label>
                        <select id="category_input" class='search_input'>
                            <option value='' disabled selected hidden>----------</option> 
                            <option value='4fceea171983d5d06c3e9823'>Aquarium</option>
                            <option value='4bf58dd8d48988d1ed931735'>Airport</option>
                            <option value='4bf58dd8d48988d1e1931735'>Arcade</option>
                            <option value='4bf58dd8d48988d1e2931735'>Art Gallery</option>
                            <option value='4d4b7104d754a06370d81259'>Arts & Entertainment</option>
                            <option value='52f2ab2ebcbc57f1066b8b56'>ATM</option>
                            <option value='5744ccdfe4b0c0459246b4e5'>Baggage Claim</option>
                            <option value='4bf58dd8d48988d1e2941735'>Beach</option>
                            <option value='52e81612bcbc57f1066b7a22'>Botanical Garden</option>
                            <option value='4bf58dd8d48988d1e4931735'>Bowling Alley</option>
                            <option value='4bf58dd8d48988d1e4941735'>Campground</option>
                            <option value='4bf58dd8d48988d17c941735'>Casino</option>
                            <option value='52e81612bcbc57f1066b79e7'>Circus</option>
                            <option value='4bf58dd8d48988d103951735'>Clothing Store</option>
                            <option value='4d4b7105d754a06373d81259'>Events</option>
                            <option value='56aa371be4b08b9a8d573523'>Film Studio</option>
                            <option value='4d4b7105d754a06374d81259'>Food</option>    
                            <option value='52e81612bcbc57f1066b79ea'>Go Kart Track</option>
                            <option value='4deefb944765f83613cdba6e'>Historic Site</option>
                            <option value='4bf58dd8d48988d196941735'>Hospital</option>
                            <option value='4bf58dd8d48988d1fa931735'>Hotel</option>
                            <option value='4bf58dd8d48988d160941735'>Hot Spring</option>
                            <option value='52e81612bcbc57f1066b79e6'>Laser Tag</option>
                            <option value='5642206c498e4bfca532186c'>Memorial Site</option>
                            <option value='52e81612bcbc57f1066b79eb'>Mini Golf</option>
                            <option value='4bf58dd8d48988d181941735'>Museum</option>
                            <option value='5744ccdfe4b0c0459246b4d9'>Observatory</option>
                            <option value='4bf58dd8d48988d1e3931735'>Pool Hall</option>
                            <option value='4bf58dd8d48988d165941735'>Scenic Lookout</option>
                            <option value='4bf58dd8d48988d1ef941735'>Rental Car Location</option>
                            <option value='4bf58dd8d48988d1e9941735'>Ski Area</option>
                            <option value='58daa1558bbb0b01f18ec1b9'>Skydiving Drop Zone</option>
                            <option value='4bf58dd8d48988d1fd941735'>Shopping Mall</option>
                            <option value='5744ccdfe4b0c0459246b4dc'>Shopping Plaza</option>
                            <option value='4bf58dd8d48988d1ed941735'>Spa</option>
                            <option value='4bf58dd8d48988d131941735'>Spiritual Center</option>
                            <option value='4bf58dd8d48988d182941735'>Theme Park</option>
                            <option value='4f4530164b9074f6e4fb00ff'>Tourist Information Center</option>
                            <option value='56aa371be4b08b9a8d573560'>Waterfall</option>
                            <option value='4bf58dd8d48988d193941735'>Water Park</option>
                            <option value='4bf58dd8d48988d17b941735'>Zoo</option>
                        </select>
                    </form>
                </div>
                <div id='hide_show_menu_btn'>
                    <ion-icon id='toggleIcon' name="chevron-back-outline"></ion-icon>
                </div>
            </div>
            <span class='alert'></span>
            <div id='mapdiv'>
            </div>
            
        </main>
        <footer>
                <div id='footer' class='col-md-12'>
                    <h4 class='text-center'>&copy;2021 <a href='https://nefi-aguilar-portfolio.herokuapp.com/'>Nefi Aguilar</a> </h4>
                </div>
        </footer>
    </body>
</html>
