<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TourMe App</title>
        <!-- Load styles -->
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <!-- Load Leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="" defer></script>
        <!-- Load jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
        <!-- load ioicons  -->
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <!-- load Scripts -->
        <script type="module" src="js/main.js" defer></script>
        
    </head>
    <body>
        <main>
            <div id="weatherdiv">
            </div>
            <div id='sideBar'>
                <div id="searchSection">
                    <div id='logo_container'>
                        <img src="/images/logo.JPG" alt="logo" id="logo" />
                    </div>
                    <h1 id='promt_text'>Where are you going next?</h1>
                    <form id='searchForm'>
                        <button type='submit' id="search_btn">Search</button>
                        <label for='city_input'>City </label>
                        <input type="text" id="city_input" class='search_input'/>
                        <label for='category_input'>Select category</label>
                        <select id="category_input" class='search_input'>
                            <option value='' disabled selected hidden>----------</option> 
                        </select>
                        <label id="sub_category_input_label" for='sub_category_input' hidden>Sub categories</label>
                        <select id="sub_category_input" class='search_input' hidden>
                            <option value='' disabled selected hidden>----------</option> 
                        </select>
                    </form>
                </div>
                <div id='hide_show_menu_btn'>
                    <ion-icon id='toggleIcon' name="chevron-back-outline"></ion-icon>
                </div>
            </div>
            <span class='alert'></span>
            <div id='mapdiv'>
            </div>
            
        </main>
        <footer>
                <div id='footer' class='col-md-12'>
                    <h4 class='text-center'>&copy;2021 <a href='https://nefi-aguilar-portfolio.herokuapp.com/'>Nefi Aguilar</a> </h4>
                </div>
        </footer>
    </body>
</html>
